* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}
:root {
  --main: #146eb4;
  --white: #ffffff;
  --dark: #1a181e;
  --sub: #4d4d4d;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1144px;
}
.site-wrapper{
  margin: 0 auto;
}
.navbar {
  background-color: var(--main);
  height: 328px;
  font-size: 18px;
}
.nav-menu {
  padding: 1rem;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: var(--main);
  color: var(--white);
}
.scrolled {
  background-color: var(--white);
  color: var(--dark);
  box-shadow: 0 4px 20px 0 hsl(0deg 0% 60% / 20%);
  transition: all 0.5s;
}
.left {
  display: flex;
  align-items: center;
}
.logo a img {
  width: 85px;
  height: 80px;
}
.menu-dropdown {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
}
.menu-dropdown {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #000000;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.menu-dropdown:hover .dropdown-content {
  display: block;
}
.dwn {
  display: flex;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  padding: 15px;
  background-color: var(--white);
  color: var(--main);
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
}
.btnclr {
  background-color: var(--main);
  color: var(--white);
  transition: all 0.5s;
}
.signin {
  text-decoration: none;
  color: var(--white);
}
.signclr {
  color: var(--dark);
}

.tools img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
}
.main-part {
  background-color: var(--white);
  width: 1140px;
  padding: 40px;
  transform: translateY(-17%);
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgb(26 24 30 / 6%);
}
.title {
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
.sub-title {
  margin: 0 0 48px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: var(--sub);
}
.content-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}
.head {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #1a181e;
  padding-top: 1rem;
}
.sub-heading {
  font-size: 16px;
  line-height: 24px;
  color: var(--sub);
  padding-top: 5px;
}
.tools {
  padding: 10px;
}
.sub-menu{
  display: flex;
  width: 800px;
  height: 100px;
}
.content-items{
  display: flex;
  padding: 0.5rem;
  align-items: center;

}
.content-items img{
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.ctn-title{
  font-weight: 600;
  font-size: 18px;
}
.content-items p{
  font-size: 12px;
}
.footer {
  background-color: var(--dark);
  color: var(--white);
  width: 100%;
}
.footer-container {
  margin: 0 auto;
  width: 1144px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  margin-bottom: 1.5rem;
}
.footer-links {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 10rem;
  justify-content: space-between;
}
.footer-links ul {
  list-style: none;
  display: block;
}
.footer-links ul li {
  margin-bottom: 16px;
}
.footer-links ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
}
.copyright-links {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-top: 1px solid #d9d9d9;
}
.made-in {
  display: flex;
  gap: 8px;
  align-items: center;
}


#toggle {
  position: absolute;
  background: var(--main);
  right: 0;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#toggle span {
  display: block;
  background: var(--white);
  height: 2px;
  width: 1em;
  border-radius: 5px;
  transform: translateY(0px);
}
#toggle::before {
  display: block;
  background: var(--white);
  height: 2px;
  width: 1.5em;
  border-radius: 5px;
  transform: translateY(-5px);
}
#toggle::after {
  display: block;
  background: var(--white);
  height: 2px;
  width: 1.5em;
  border-radius: 5px;
  transform: translateY(5px);
}
#toggle::before,
#toggle::after {
  transition: 0.2s;
  content: "";
  position: absolute;
}
#toggle.active::before {
  transform: translateY(0) rotate(45deg);
}
#toggle.active::after {
  transform: translateY(0) rotate(-45deg);
}
#toggle.active span {
  display: none;
}

#mob-nav {
  position: absolute;
  top: 14%;
  padding-top: 1rem;
  background: var(--white);
  overflow: hidden;
  height: 100%;
  z-index: 10;
  transform: scale(0, 0);
  transform-origin: top;
  transition-property: all;
  transition-duration: 500ms;
}
#mob-nav.active {
  transform: scale(1, 1);
  width: 100%;
}
#mob-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#mob-nav li {
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 1rem;
}

#mob-nav a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  align-items: center;
  line-height: 30px;
  color: rgb(8, 8, 8);
  text-decoration: none;
  transition: opacity 150ms ease-in-out;
}
#mobilenav {
  display: none;
}

@media only screen and (max-width: 576px) {
  .nav-menu {
    display: none;
  }
  .navbar {
    height: 100px;
  }
  .brand-logo{
    width: 100px;
  }
  .site-wrapper{
    width: 100vw;
  }
  #mobilenav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    background-color: var(--main);
  }
  .btnclr{
    margin-top: 8rem;
  }
  .main-part {
    width: 90vw;
    display: block;
    transform: translateY(-2%);
    padding: 10px;
  }
  .content-grid {
    display: grid;
    grid-template-columns: auto;
  }
  .title {
    padding-top: 2rem; 
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: .02em;

  }
  .sub-title {
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 22px;
  }
  .content-grid img{
    width: 100%;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
  }
  .footer-container {
    display: block;
    width: 100%;
  }
  .footer-content{
    display: flex;
    flex-direction: column-reverse;
    padding-top: 2rem;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
  .footer-links ul li{
    margin-bottom: 10px;
  }
  .footer-links ul li a{
    font-size: 14px;
    line-height: 20px;
  }
  .logo{
    margin: 0 auto;
    padding-top: 2rem;
  }
  .copyright-links{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1399px){
  .navbar{
    background-color: var(--white);
  }
  /* .main-part{
    margin-top: 5rem;
  } */
  .nav-menu{
    margin-right: 1rem;
  }
  .footer-container{
    background-color: var(--dark);
    padding: 0 2rem;
  }
  .menu-dropdown {
    padding-left: 1rem;
  }
  .footer-links{
    margin-left: 2rem;
    gap: 10rem;
    flex-grow: unset;
  }
}
  .container{
    width: 1440px;
    margin: 0 auto;
    align-items: center;
  }
  .signin-btn{
    padding: 10px 20px;
    background-color: red;
    color: #ffffff;
    border-radius: 5px;
  }
  .box-form {
    margin: 0 auto;
    margin-top: 2rem;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 20px 6px #090b6f85;
  }
  @media (max-width: 980px) {
    .box-form {
      flex-flow: wrap;
      text-align: center;
      align-content: center;
      align-items: center;
    }
  }
  .box-form div {
    height: auto;
  }
  .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assest/main.jpg");
    overflow: hidden;
  }
  .box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #242d8c6d;
    overflow: hidden;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 4vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 10rem;

  }
  .box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
  }
  .box-form .left .overlay span a {
    background: #3b5998;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
  }
  .box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
  }
  .box-form .right {
    padding: 40px;
    overflow: hidden;
  }
  @media (max-width: 980px) {
    .box-form .right {
      width: 100%;
    }
  }
  .box-form .right h5 {
    font-size: 5rem;
    margin: 5rem;
    line-height: 0;
  }
  .box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
  }
  .box-form .right .inputs {
    overflow: hidden;
  }
  .box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .right button {
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 30px 10px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 10px 0px #49c628a6;
    background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
  }
  
  label {
    display: block;
    position: relative;
    margin-left: 30px;
  }
  
  label::before {
    content: ' \f00c';
    position: absolute;
    font-family: FontAwesome;
    background: transparent;
    border: 3px solid #70F570;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
  }
  
  label:hover::before {
    font-family: FontAwesome;
    content: ' \f00c';
    color: #fff;
    cursor: pointer;
    background: #70F570;
  }
  
  label:hover::before .text-checkbox {
    background: #70F570;
  }
  
  label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  
  label input[type="checkbox"] {
    display: none;
  }